/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
body {
  background : url('./image/1270597.jpg');
}

img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}


